<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/news_new.css">
    <link rel="stylesheet" type="text/css" href="/accounts.css">
</head>
<body>
<div class="site-top">
    {{ if is_authorized }}
    <a href="/accounts/{{ id }}">
        <div class="create-news-link glow-on-hover">
            My profile
        </div>
    </a>
    {{else}}
    <a href="/accounts/login">
        <div class="create-news-link glow-on-hover">
            Login
        </div>
    </a>
    {{ end }}
    <a href="/news/">
        <div class="create-news-link glow-on-hover">
            News
        </div>
    </a>
    <a href="/debates/">
        <div class="create-news-link glow-on-hover">
            Debates
        </div>
    </a>
    {{ if is_authorized }}
    <a href="/accounts/logout">
        <div class="create-news-link glow-on-hover">
            Logout
        </div>
    </a>
    {{ end }}
</div>
<div class="search-container">
    <form method="post">
        <textarea name="name" placeholder="type name"></textarea>
        <textarea name="surname" placeholder="type surname"></textarea>
        <button type="submit">Искать</button>
    </form>
    
    {{ for account in accounts}}
    <a class="account" href="/accounts/{{account.id}}">{{account.name}} {{account.surname}}</a><br>
    
    {{ end }}
</div>
</body>
</html>