<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/profile.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="site-top">
    {{ if !is_authorized }}
    <a href="/accounts/login">
        <div class="create-news-link glow-on-hover">
            Login
        </div>
    </a>
    {{ end }}
    <a href="/accounts">
        <div class="create-news-link glow-on-hover">
            Accounts
        </div>
    </a>
    <a href="/debates/">
        <div class="create-news-link glow-on-hover">
            Debates
        </div>
    </a>
    <a href="/news/">
        <div class="create-news-link glow-on-hover">
            News
        </div>
    </a>
    {{ if is_authorized }}
    <a href="/accounts/logout">
        <div class="create-news-link glow-on-hover">
            Logout
        </div>
    </a>
    {{ end }}
</div>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" class="rounded" width="155" >
            </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ account.name}} {{ account.surname }}</h4>
                <span>{{ account.about }}</span>
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Articles</span>
                        <span class="number1">38</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="followers">Followers</span>
                        <span class="number2">980</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="rating">Rating</span>
                        <span class="number3">8.9</span>
                    </div>
                </div>
                {{ if is_authorized }}
                    {{ if !own_profile }}
                        {{ if is_subscribed}}
                        <form method="post">
                        <div class="button mt-2 d-flex flex-row align-items-center">
                            <button name="unfollow" type="submit" class="btn btn-sm btn-primary w-100 ml-2">UnFollow</button>
                        </div>
                        </form>
                        {{ else }}
                        <form method="post">
                        <div class="button mt-2 d-flex flex-row align-items-center">
                            <button name="follow" type="submit" class="btn btn-sm btn-primary w-100 ml-2">Follow</button>
                        </div>
                        </form>
                        {{ end }}
                    {{else}}
                        <form method="post">
                            <div class="button mt-2 d-flex flex-row align-items-center">
                                <button name="edit" type="submit" class="btn btn-sm btn-primary w-100 ml-2">Edit</button>
                            </div>
                        </form>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
</body>
</html>