<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="/creation.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="site-top">
    <a href="/">
        <div class="create-news-link glow-on-hover">
            Main page
        </div>
    </a>
</div>
<form method="post">
    <div class="wrapper">
        <h1>Displaying The Character Count of a Textarea</h1>
        <textarea id="title" onchange="Validate()" class="title" name="the-textarea-title" id="the-textarea-title" maxlength="300" placeholder="Start Typin..." autofocus></textarea>
        <textarea id="content" onchange="Validate()" class="content" name="the-textarea" id="the-textarea" maxlength="300" placeholder="Start Typin..." autofocus></textarea>
        <span id='message'></span>
        <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 300</span>
        </div>
        <button id="submit" type="submit">Отправить</button>
    </div>
</form>
</body>
</html>

<script>
    $('textarea').keyup(function() {

        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = $('#maximum'),
            theCount = $('#the-count');

        current.text(characterCount);


        /*This isn't entirely necessary, just playin around*/
        if (characterCount < 70) {
            current.css('color', '#666');
        }
        if (characterCount > 70 && characterCount < 90) {
            current.css('color', '#6d5555');
        }
        if (characterCount > 90 && characterCount < 100) {
            current.css('color', '#793535');
        }
        if (characterCount > 100 && characterCount < 120) {
            current.css('color', '#841c1c');
        }
        if (characterCount > 120 && characterCount < 139) {
            current.css('color', '#8f0001');
        }

        if (characterCount >= 220) {
            maximum.css('color', '#8f0001');
            current.css('color', '#8f0001');
            theCount.css('font-weight','bold');
        } else {
            maximum.css('color','#666');
            theCount.css('font-weight','normal');
        }


    });
</script>
<script>
    function Validate(){
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;
        if(title == "" || content == "") {
            document.getElementById('message').style.display = 'block';
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'fill inputs';
            document.getElementById('submit').style.display = 'none';
        }
        else{
            document.getElementById('message').style.display = 'none';
            document.getElementById('submit').style.display = 'block';
        }}
</script>