<!DOCTYPE html>
<html>
    <head>
        <title>News</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="news.css">
        
    </head>
    <body>
        {{ if is_authorized }}
        <div class="create-news-link">
            <a href="/news/create">Create news</a>
        </div>
        {{ end }}
        <div class="header">
            <div class="logo_holder">
                <b>News</b>
            </div>
        </div>
        <div class="news_list" id="news">
            {{for news1 in news }}
            <div class="news">
                <div class="news_info">
                    <a class="title" href="http://localhost:7700/news/{{news1.id}}">{{ news1.title }}</a>
                    &nbsp;|&nbsp;
                    {{ date.to_string news1.date '%d/%m/%Y %T' 'ru-RU' }}

                    <b>{{ news1.author_id }}</b>
                </div>
            </div>
            {{~ end ~}}
        </div>
    </body>
</html>