<!DOCTYPE html>
<html>
    <head>
        <title>News</title>
        
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/news_new.css">
        
    </head>
    <body>
        <div class="site-top">
        {{ if is_authorized }}
            <a href="/news/create">
                <div class="create-news-link glow-on-hover">
                Create news
                </div>
            </a>
            <a href="/accounts/{{ id }}">
                <div class="create-news-link glow-on-hover">
                    My profile
                </div>
            </a>
            {{else}}
            <a href="/accounts/login">
                <div class="create-news-link glow-on-hover">
                    Login
                </div>
            </a>
            {{ end }}
            <a href="/accounts">
                <div class="create-news-link glow-on-hover">
                    Accounts
                </div>
            </a>
            <a href="/debates/">
                <div class="create-news-link glow-on-hover">
                    Debates
                </div>
            </a>
            {{ if is_authorized }}
            <a href="/accounts/logout">
                <div class="create-news-link glow-on-hover">
                    Logout
                </div>
            </a>
            {{ end }}
        </div>
        <div class="news_list" id="news">
            {{for news1 in news }}
            <div class="news">
                <div class="news_info">
                    <a class="title" href="http://localhost:7700/news/{{news1.id}}">{{ news1.title }}</a>
                    &nbsp;|&nbsp;
                    {{ date.to_string news1.date '%d/%m/%Y %T' 'ru-RU' }}

                    <b>{{ news1.author_id }}</b>
                </div>
            </div>
            {{~ end ~}}
        </div>
    </body>
</html>