<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="registration.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <h2 class="card-title text-center">Register</h2>
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="surname" id="surname" placeholder="Surname">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="about" id="about" placeholder="About">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="organization" id="organization" placeholder="Organization">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" onchange="Validate()" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="confirm-password" onchange="Validate()" placeholder="confirm-password">
                            </div>
                            <span id='message'></span>
                            <div class="form-group">
                                <input type="checkbox" class="form-control" name="remember-me" id="remember-me" placeholder="Remember me">
                                <label for="remember-me">Remember me</label>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <a href="/accounts/login">Login</a>
                                <button class="btn btn-primary" id="submit" type="submit">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function Validate(){
    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("confirm-password").value;
    if(password != confirm_password) {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'not matching';
        document.getElementById('submit').style.display = 'none';
    }
    else{
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'matching';
        document.getElementById('submit').style.display = 'block';
    }}
</script>
